{% extends 'layout.html' %}

{% block content %}
    <h2>Recipes Found</h2>
    <div class="row">
        {% for recipe in recipes %}
            <div class="col-md-4">
                <div class="card">
                    <img src={{recipe.image}} class="card-img-top" alt="ReImage"  />
                    <div class="card-body">""
                        <h5 class="card-title">{{ recipe.title }}</h5>
                        <p class="card-text">{{ recipe.description[:100] }}...</p>
                        <a href="/recipe/{{ recipe.id }}" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
